<!DOCTYPE html>
<html>
  <%- include('_head', {meta: {title: "osc app"}}) %>
  <body>
    <img src="" id="image" alt="" width="100%">
    <script src="/javascripts/main.js"></script>
    <!-- <span>v0.01 Atsuya Kobayashi</span> -->
  </body>
</html>